.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  grid-auto-flow: row;
  background-color: transparent;
  align-items: center;
  padding: 0 10px;
}

.logo-header {
  height: 60px;
  grid-column: 1/4;
}

.logo-bar{
  grid-column: 10/11;
  font-size: 1.5rem;
  margin: auto;
  color: var(--lightblue-ban-occ);
  cursor: pointer;
  display: none;
}

.user-info{
  grid-column: 9/11;
  display: none !important;
}

.user-data{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-photo{
  width: 32px;
  height: 32px;
}

.text-user-info{
  font-size: .8rem;
}

.text-user-subinfo{
  font-size: .6rem;
}

.text-user-info, .text-user-subinfo{
  margin: 0;
}

.navbar{
  border-bottom: 1px solid var(--lightblue-ban-occ);
}

@media (min-width: 768px) { 
  .logo-footer img{
    max-width: 130px;
  }

  .user-info{
    display: flex !important;
    justify-content: flex-end;
    padding-right: 10px;
  }
}

@media (min-width: 1280px) {
  .logo-footer img{
    max-width: 130px;
  }
}

@media (max-width: 767.98px){
  .logo-bar{
    display: block;
  }
}