<header>
  <nav class="navbar">	
    <img class="logo-header" src="assets/images/logo-banco-occidente.png" alt="logo Banco Occidente">
    <i class="logo-bar bi bi-list"></i>
    <div class="user-info">
      <div class="row">
        <div class="col-9 user-data">
            <p class="text-user-info fw-bold">Carlos Gómez</p>
            <p class="text-user-subinfo">Gerente de relación</p>
        </div>
        <div class="col-3">
          <img class="user-photo rounded-circle" src="assets/images/user.jpg" alt="fotografía usuario">          
        </div>
      </div>
    </div>
  </nav>
</header>
